@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Product-sans-regular.ttf);
}

@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Inter-Medium.ttf);
}

body {
  @apply font-sans;
}

.content > p {
  @apply pb-8;
}

input[type="text"],
input[type="email"],
textarea {
  @apply my-2 border border-solid border-gray-300 rounded bg-white bg-clip-padding px-3 py-1.5 font-normal text-base text-gray-700 transition ease-in-out focus:border-gray-300 focus:outline-none focus:bg-white focus:text-gray-700;
}

input[type="submit"] {
  @apply mt-3 rounded bg-blue-500 py-2 px-4 text-white font-bold hover:bg-blue-700;
}

.canopas-gradient-text {
  @apply bg-clip-text bg-gradient-to-r from-[#f2709c] via-[#ff909c] to-[#ff9472] text-transparent;
}

.gradient-text:hover {
  @apply bg-clip-text bg-gradient-to-r from-[#f2709c] via-[#ff909c] to-[#ff9472] text-transparent;
}

.gradient-border-btn {
  @apply border-[1px] border-solid border-transparent rounded-[0.6rem] bg-gradient-to-r from-[#f2709c] via-[#ff909c] to-[#ff9472] shadow-[inset_2px_1000px_1px_#fff] p-[1rem] text-center hover:border-[1px] hover:border-solid hover:border-transparent hover:from-[#f2709c] hover:to-[#ff9472] hover:shadow-none active:scale-[0.98];
}

.gradient-border-btn > span {
  @apply my-0 mx-[6px] text-[#3d3d3d];
}

.gradient-border-btn:hover > span,
.gradient-border-btn:hover > span > span {
  @apply text-[#fff];
}

.gradient-border-btn:hover > .fa,
.gradient-border-btn:hover > .arrow {
  @apply text-white;
}

code {
  @apply rounded bg-slate-100 px-4 py-2 text-sm;
}

code::before,
code::after {
  @apply content-none !important;
}

.ephox-summary-card {
  @apply flex flex-row-reverse items-center !max-w-full h-60 sm:h-48 border-solid border border-slate-200;
}

.ephox-summary-card > a {
  @apply flex justify-center h-full no-underline;
}

.ephox-summary-card-link {
  @apply flex-col basis-2/4 sm:basis-3/5 lg:basis-[70%] px-4;
}

.ephox-summary-card-link-thumbnail {
  @apply h-full basis-2/4 sm:basis-2/5 lg:basis-[30%] border-solid border-l border-slate-200;
}

.ephox-summary-card-link-thumbnail > img {
  @apply my-0 object-cover;
}

.ephox-summary-card-description {
  @apply block text-[1rem] text-slate-400;
}

.ephox-summary-card-author,
.ephox-summary-card-website {
  @apply hidden;
}
