@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Product-sans-regular.ttf);
}

@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./../fonts/Inter-Medium.ttf);
}

body {
  @apply font-sans;
}

.content > p {
  @apply pb-8;
}

input[type="text"],
input[type="email"],
textarea {
  @apply my-2 border border-solid border-gray-300 rounded bg-white bg-clip-padding px-3 py-1.5 font-normal text-base text-gray-700 transition ease-in-out focus:border-gray-300 focus:outline-none focus:bg-white focus:text-gray-700;
}

input[type="submit"] {
  @apply mt-3 rounded bg-blue-500 py-2 px-4 text-white font-bold hover:bg-blue-700;
}

.canopas-gradient-text {
  @apply bg-clip-text bg-gradient-to-r from-[#f2709c] via-[#ff909c] to-[#ff9472] text-transparent;
}

.gradient-text:hover {
  @apply bg-clip-text bg-gradient-to-r from-[#f2709c] via-[#ff909c] to-[#ff9472] text-transparent;
}

.gradient-border-btn {
  @apply border-[1px] border-solid border-transparent rounded-[0.6rem] bg-gradient-to-r from-[#f2709c] via-[#ff909c] to-[#ff9472] shadow-[inset_2px_1000px_1px_#fff] p-[1rem] text-center hover:border-[1px] hover:border-solid hover:border-transparent hover:from-[#f2709c] hover:to-[#ff9472] hover:shadow-none active:scale-[0.98];
}

.gradient-border-btn > span {
  @apply my-0 mx-[6px] text-[#3d3d3d];
}

.gradient-border-btn:hover > span,
.gradient-border-btn:hover > span > span {
  @apply text-[#fff];
}

.gradient-border-btn:hover > .fa,
.gradient-border-btn:hover > .arrow {
  @apply text-white;
}

code {
  @apply rounded bg-slate-100 px-4 py-2 text-sm;
}

code::before,
code::after {
  @apply content-none !important;
}

.pw-post-body-paragraph {
  @apply break-words;
}

ul {
  @apply pl-4;
}

pre[class*="language-"] {
  @apply my-2 overflow-auto bg-[#333];
}

code.hljs {
  @apply py-[3px] px-[5px];
}

.hljs-doctag,
.hljs-meta-keyword,
.hljs-name,
.hljs-strong {
  @apply font-bold;
}

.hljs-code,
.hljs-emphasis {
  @apply italic;
}

.hljs-section,
.hljs-tag {
  @apply text-[#62c8f3];
}

.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
  @apply text-[#ade5fc];
}

.hljs-meta-string,
.hljs-string {
  @apply text-[#a2fca2];
}

.hljs-attr,
.hljs-quote,
.hljs-selector-attr {
  @apply text-[#8cb0fcea];
}

.hljs-tag.hljs-attr {
  @apply text-inherit;
}

.hljs-attribute,
.hljs-title,
.hljs-type {
  @apply text-[#ffa];
}

.hljs-number,
.hljs-symbol {
  @apply text-[#d36363];
}

.hljs-bullet,
.hljs-template-tag {
  @apply text-[#b8d8a2];
}

.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  @apply text-[#fcc28c];
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  @apply text-[#888];
}

.hljs-link,
.hljs-regexp,
.hljs-selector-pseudo {
  @apply text-[#c6b4f0];
}

.hljs-meta {
  @apply text-[#fc9b9b];
}

.hljs-deletion {
  @apply bg-[#fc9b9b] text-[#333];
}

.hljs-addition {
  @apply bg-[#a2fca2] text-[#333];
}

.hljs-subst {
  @apply text-[#fff];
}
