---
import PostDetail from "../../components/PostDetail.vue";
import config from "../../config";

export async function getStaticPaths() {
  const response = await fetch(config.API_BASE + "/api/posts?populate=*").then(
    (response) => response.json()
  );
  // Generate a page for every post, passing the full object as a prop
  return response.data.map((post) => ({
    params: { slug: post.attributes.slug },
    props: { post },
  }));
}

const slug = Astro.params;

import { postDetailStore } from "../../stores/posts/index.js";
const readingTime = await postDetailStore;
---

<html>
  <body>
    <div></div>
    <div>Post uid is {slug.slug}</div>
    <PostDetail client:visible />
  </body>
</html>
